.catalogueContainer {
  padding: 24px 100px;
}

.catalogueTitle {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #9e8c78;
}

.themeTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: #9e8c78;
}

.themeSection {
  margin-bottom: 60px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 40px;
  justify-items: center;
}

/* Mobile adjustments for slider used in catalogue */
@media (max-width: 768px) {
  .slider .slick-track {
    justify-content: center !important;
  }
  .catalogueContainer {
    padding: 24px;
  }

  .slider .slick-prev,
  .slider .slick-next {
    top: 50% !important;
    transform: translateY(-50%) !important;
  }

  .slider .slick-prev {
    left: 10px !important;
  }
  .slider .slick-next {
    right: 10px !important;
  }
}
